apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: ghcr.io/deadmedusa/k8s-frontend:PLACEHOLDER
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8001
          env:
            - name: BACKEND_URL
              value: "http://backend-service:8000"
