# =========================
# Global / Chart defaults
# =========================

replicaCount: 1

nameOverride: ""
fullnameOverride: ""

imagePullSecrets:
  - name: ghcr-secret

# =========================
# Backend configuration
# =========================

backend:
  replicas: 1
  containerPort: 8000

  image:
    repository: ghcr.io/deadmedusa/k8s-backend
    tag: "latest"
    
    resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "300m"
      memory: "256Mi"

# =========================
# Frontend configuration
# =========================

frontend:
  replicas: 1
  containerPort: 8001

  image:
    repository: ghcr.io/deadmedusa/k8s-frontend
    tag: "latest"   

# =========================
# Sidecar configuration
# =========================

sidecar:
  enabled: true

  image:
    repository: ghcr.io/deadmedusa/k8s-sidecar
    tag: ""   # ТЕГ ПРИХОДИТ ИЗ CI

  resources:
    requests:
      cpu: "50m"
      memory: "64Mi"
    limits:
      cpu: "150m"
      memory: "128Mi"

# =========================
# Service (если используется)
# =========================

service:
  type: ClusterIP
  port: 8000

# =========================
# Autoscaling (не используем сейчас)
# =========================

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80

# =========================
# Kubernetes scheduling (пока пусто)
# =========================

nodeSelector: {}
tolerations: []
affinity: {}
