name: DevOps Platform CI/CD

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-push:
    name: Build and Push Images
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_TOKEN }}

      # --- BACKEND ---
      - name: Build and push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./app/backend
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/k8s-backend:${{ github.sha }}
            ghcr.io/${{ github.repository_owner }}/k8s-backend:latest

      # --- FRONTEND ---
      - name: Build and push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./app/frontend
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/k8s-frontend:${{ github.sha }}
            ghcr.io/${{ github.repository_owner }}/k8s-frontend:latest

      # --- SIDECAR ---
      - name: Build and push sidecar image
        uses: docker/build-push-action@v5
        with:
          context: ./app/sidecar
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/k8s-sidecar:${{ github.sha }}
            ghcr.io/${{ github.repository_owner }}/k8s-sidecar:latest

  deploy:
    name: Deploy to k3s via Helm
    runs-on: self-hosted
    needs: build-and-push
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy via Helm
        run: |
          # Теперь мы передаем теги для ВСЕХ ТРЕХ компонентов
          helm upgrade --install devops-platform ./helm/devops-platform \
            -f ./helm/devops-platform/values.yaml \
            --set backend.image.tag=${GITHUB_SHA} \
            --set frontend.image.tag=${GITHUB_SHA} \
            --set sidecar.image.tag=${GITHUB_SHA}